<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>后台管理系统</title>
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        .row h4{
            text-align: center;
        }
    </style>
    <script type="application/javascript">
        function submit(){
            var url=document.getElementById("basic-url").value;
            window.location.replace("/management?tag="+url);
        }

    </script>
</head>
<body>
<nav class="navbar navbar-inverse">
    <h1 style="color: #ffffff;">后台管理系统登录</h1>
</nav>
<div style="padding:20px 100px;">
    <form action="http://"
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>